*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.auth-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .auth-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .auth-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .auth-subtitle {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .auth-input:focus {
    border-color: #852fe0;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
  }
  
  .auth-button {
    background-color: #852fe0;
    color: #ffffff;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #2575fc;
  }
  
  .auth-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .auth-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
  }
  
  .auth-footer a {
    color: #852fe0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }
  

  .image-upload {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .upload-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #45a049;
  }
  
  .image-preview {
    margin-top: 10px;
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }